<div class="info-wrapper">
  <div class="header"></div>
  <div class="content">
    <h6 class="title">
      {{getHeader()}}
    </h6>
    @if (header) {
      {{data[0].message}}
      <div class="button" (mousedown)="clear()">Ok</div>
    } @else {
      <ul class="messag-wrapper">
        @for (item of data; track item) {
          <li class="message"
            >
            {{item.message}}
          </li>
        }
      </ul>
      <div class="button" (mousedown)="clear()">Weiter</div>
    }

  </div>
</div>
