<div class="slider-component">
  <div #wrapper class="slider-wrapper">
    <canvas #bgCanvas class="slider-bg" height="32"></canvas>

    @if (is_valueGapObserved()) {
      <div>
        @for (thumb of getGapThumbs(); track thumb.id) {
          <div class="slider-handle-wrapper gap"
            [class.active]="activeThumbId === thumb.id"
            [class.no-events]="_gapNoEvents"
            [class.disabled]="thumb.disabled"
            [style.left.%]="thumb.leftPercent"
            (mousedown)="onThumbSelectMouse($event, thumb)"
            (touchstart)="onThumbSelectTouch($event, thumb)"
            [attr.data-index]="thumb.index">
            <div class="slider-line"></div>
            <div class="slider-index"></div>
          </div>
        }
      </div>
    }
    @if (is_valueFreeGapObserved()) {
      <div>
        @for (thumb of getNaturalGapThumbs(); track thumb.id) {
          <div class="slider-handle-wrapper no-events"
            [class.disabled]="thumb.disabled"
            [style.left.%]="thumb.leftPercent">
            <div class="slider-line"></div>
            <div class="slider-index">{{thumb.label}}</div>
          </div>
        }
        @for (thumb of getFreeGapThumbs(); track thumb.id) {
          <div class="slider-handle-wrapper freeGap"
            [class.active]="activeThumbId === thumb.id"
            [style.left.%]="thumb.leftPercent"
            (mousedown)="onThumbSelectMouse($event, thumb)"
            (touchstart)="onThumbSelectTouch($event, thumb)"
            [attr.data-index]="thumb.index">
            <div class="slider-value">{{getValueFreeGap(thumb.index)}}</div>
            <div class="slider-line"></div>
            <div class="slider-index">{{thumb.label}}</div>
          </div>
        }
      </div>
    }
  </div>
</div>

