# min iOS Version 12.1
# getestet mit browserstack am 08.01.2023 ONe

# > 0.2% and not dead

last 2 Chrome version
last 2 Firefox version
last 2 Edge major versions
last 2 safari major versions
last 2 ios_saf major versions
Firefox ESR
