<div class="save-load-wrapper">
  <div class="header">
    <div class="label">Speichern / Laden</div>
    <img class="close" src="{{env.assetFolderLocation}}/assets/imgui/icon-close-black.svg" alt="" (mousedown)="onClose()">
  </div>

  <p class="description">
    Um von einem anderen Endgerät oder zu einem späteren Zeitpunkt wieder auf Ihre Konfiguration zugreifen zu
    können, klicken Sie bitte auf den Button <strong>speichern</strong> und notieren sich die Ring-ID.
  </p>

  <div class="input-wrapper">
    <div class="item">
      <h6 class="title">Ihre Ring-ID lautet</h6>
      <div class="input-wrapper">
        <div class="ring-id">{{curPresetId}}</div>
        <div class="button"
          (mousedown)="onSave()">Speichern
        </div>
      </div>
    </div>
    <div class="item">
      <h6 class="title">Ringe laden</h6>
      <div class="input-wrapper">
        <input id="ringId" type="text" maxlength="12" placeholder="Ring-ID eingeben" #ringId>
        <div class="button"
          (mousedown)="onLoad(ringId.value)">Laden
        </div>
      </div>
    </div>
  </div>


  <div class="dbContent">
    <div class="dbRow">

      @for (item of getDBSaveItems(); track item) {
        <div class="dbCol"
          (mousedown)="onLoad(item.id)">
          <img class="preview" [src]="item.img" alt="">
          <div class="id">{{ item.id }}</div>
        </div>
      }
    </div>
  </div>
</div>
