<div class="row row-strip">
  <img src="{{env.assetFolderLocation}}/assets/imgui/icon-rw.svg" alt="">
  <x-dropdown class="desktop-control" title="Ringbreite" [options]="getOptions_ringWidth(ringId)" [value]="ringData[ringId].ringWidth.toString()" (onSelect)="setOption('ringWidth', $event)" [onValueFormat]="onFormat_mm"></x-dropdown>
  <div class="mobile-control dimension-strip">
    <h6 class="title">Breite</h6>
    <div class="mobile-option-strip">
      @for (item of getOptions_ringWidth(ringId); track item) {
        <div class="mobile-option-item" [class.active]="ringData[ringId].ringWidth === item" (mousedown)="setOption('ringWidth', item)">
          {{onFormat_mm(item)}}
        </div>
      }
    </div>
  </div>
</div>
<x-property-sync-dialog [ringId]="ringId" property="ringWidth"></x-property-sync-dialog>
<div class="row row-strip">
  <img src="{{env.assetFolderLocation}}/assets/imgui/icon-rh.svg" alt="">
  <x-dropdown class="desktop-control" title="Ringh&ouml;he" [options]="getOptions_ringHeight(ringId)" [value]="ringData[ringId].ringHeight.toString()" (onSelect)="setOption('ringHeight', $event)" [onValueFormat]="onFormat_mm"></x-dropdown>
  <div class="mobile-control dimension-strip">
    <h6 class="title">H&ouml;he</h6>
    <div class="mobile-option-strip">
      @for (item of getOptions_ringHeight(ringId); track item) {
        <div class="mobile-option-item" [class.active]="ringData[ringId].ringHeight === item" (mousedown)="setOption('ringHeight', item)">
          {{onFormat_mm(item)}}
        </div>
      }
    </div>
  </div>
</div>
<x-property-sync-dialog [ringId]="ringId" property="ringHeight"></x-property-sync-dialog>
<div class="row">
  <img src="{{env.assetFolderLocation}}/assets/imgui/icon-rs.svg" alt="">
  <x-dropdown title="Ringgr&ouml;&szlig;e" [options]="getOptions_ringSize(ringId)" [value]="ringData[ringId].ringSize" (onSelect)="setOption('ringSize', $event)" [onValueFormat]="onFormat_ringSize"></x-dropdown>
</div>
