@if (mode=='normal') {
  <div (mousedown)="onSaveLoad_open()">
    <img src="{{env.assetFolderLocation}}/assets/imgui/icon-save-and-load.svg">
    Ringe Speichern oder Laden
  </div>
  <div (mousedown)="app.state.toolsMenu=false; app.state.ringDetails=true">
    <img src="{{env.assetFolderLocation}}/assets/imgui/icon-details.svg">
    Details Ihrer Konfiguration
  </div>
  <div (mousedown)="app.state.toolsMenu=false; app.createPdf()">
    <img src="{{env.assetFolderLocation}}/assets/imgui/icon-pdf.svg">
    Details als PDF
  </div>
  <!--  <div class="disabled">-->
  <!--    <img src="/assets/imgui/icon-undo.svg">-->
  <!--    Letzte Aktion rückgängig-->
<!--  </div>-->
<div (mousedown)="onLoadDefaults()">
  <img src="{{env.assetFolderLocation}}/assets/imgui/icon-reset.svg">
  Konfiguration zurücksetzen
</div>
}

@if (mode=='menu') {
  <img class="close" src="{{env.assetFolderLocation}}/assets/imgui/icon-close-white.svg" alt="" (mousedown)="app.state.toolsMenu=false">
  <div (mousedown)="onSaveLoad_open()">
    <img src="{{env.assetFolderLocation}}/assets/imgui/icon-save-and-load.svg">
    Ringe Speichern oder Laden
  </div>
  <div (mousedown)="app.state.toolsMenu=false; app.state.ringDetails=true">
    <img src="{{env.assetFolderLocation}}/assets/imgui/icon-details.svg">
    Details Ihrer Konfiguration
  </div>
  <div (mousedown)="app.state.toolsMenu=false; app.createPdf()">
    <img src="{{env.assetFolderLocation}}/assets/imgui/icon-pdf.svg">
    Details als PDF
  </div>
  <!--  <div class="disabled">-->
  <!--    <img src="/assets/imgui/icon-undo.svg">-->
  <!--    Letzte Aktion rückgängig-->
<!--  </div>-->
<div (mousedown)="onLoadDefaults()">
  <img src="{{env.assetFolderLocation}}/assets/imgui/icon-reset.svg">
  Konfiguration zurücksetzen
</div>
}
