@if (mode=='material') {
  <div class="mts" [class.hasValue]="showValue">
    <div class="track">
      @for (item of ringData[ringId].materialDiv; track getMaterialDivTrackKey($index); let i = $index; let first = $first; let last = $last) {
        <div class="segment"
          style="background-color:{{getMaterialColor(i)}}; width:{{getMaterialPercent(i)}}">
          <div class="index">{{(i + 1)}}</div>
        </div>
      }
      <!--      <div class="segment safe left" style="width:{{getMaterialSafeSegmentPercent(0)}}"></div>-->
      <!--      <div class="segment safe right" style="width:{{getMaterialSafeSegmentPercent(1)}}"></div>-->
      <div class="valueWrapper">
        @for (item of ringData[ringId].materialDiv; track getMaterialValueTrackKey($index); let i = $index) {
          <div class="value"
            style="width:{{getMaterialPercent(i)}}">
            {{getMaterialValue(i)}}
          </div>
        }
      </div>
      <ng-template [ngFor] let-item let-i=index let-last=last [ngForOf]="ringData[ringId].materialDiv">
        @if (!last) {
          <div
            class="thumb"
            [attr.data-index]="i"
            (mousedown)="onThumbSelectMouse($event)"
            (touchstart)="onThumbSelectTouch($event)"
            style="left:{{getMaterialThumbPosition(i)}}">
            <div class="line"></div>
          </div>
        }
      </ng-template>
    </div>
  </div>
}

@if (mode=='gap') {
  <div class="mts" [class.hasValue]="showValue">
    <div class="track">
      @for (item of getMaterialDiv(); track getGapMaterialDivTrackKey($index); let i = $index; let first = $first; let last = $last) {
        <div class="segment"
          style="background-color:{{getMaterialColor(i)}}; width:{{getMaterialPercent(i)}}">
        </div>
      }
      <ng-template [ngFor] let-item let-i=index let-last=last [ngForOf]="getMaterialDiv()">
        @if (!last) {
          <div
            class="thumb disabled"
            style="left:{{getMaterialThumbPosition(i)}}">
            <div class="line"></div>
            <div class="number">{{i + 1}}</div>
          </div>
        }
      </ng-template>
      <ng-template [ngFor] let-item let-i=index let-last=last [ngForOf]="ringData[ringId].gapDiv">
        @if (!last) {
          <div
            class="thumb gap"
            style="left:{{getGapThumbPosition(i)}}"
            [attr.data-index]="i"
            (mousedown)="onThumbSelectMouse($event)"
            (touchstart)="onThumbSelectTouch($event)">
            <div class="line"></div>
            <div class="number">{{i + 1}}</div>
          </div>
        }
      </ng-template>
    </div>
  </div>
}

@if (mode=='stonePosition') {
  <div class="mts" [class.hasValue]="showValue">
    <div class="track stone">
      @for (item of segmentDiv; track getStoneSegmentTrackKey($index)) {
        <div class="segment"
          style="background-color:{{item.color}}; width:{{item.width}}">
        </div>
      }
      <div style="position:absolute; left:0; top:0; width:100%;height:100%;background:transparent;z-index:11">
        @for (item of gapSegments; track getStoneGapSegmentTrackKey($index)) {
          <div class="segment"
            style="background-color:{{item.color}}; width:{{item.width}}; opacity:0.4;">
          </div>
        }
      </div>
      <div class="valueWrapper">
        @for (item of ringData[ringId].stone[0].positionDiv; track getStonePositionValueTrackKey($index); let i = $index) {
          <div class="value"
            style="width:{{getStonePositionPercent(i)}}">
            {{getStonePositionValue(i)}}
          </div>
        }
      </div>
      <!--      <div class="segment"-->
      <!--           *ngFor="let item of getMaterialDiv(); let i = index; let first = first; let last = last;"-->
      <!--           style="background-color:{{getMaterialColor(i)}}; width:{{getMaterialPercent(i)}}">-->
    <!--      </div>-->
    <!-- TODO: NOGO AREAS -->
    <ng-template [ngFor] let-item let-i=index let-first=first let-last=last [ngForOf]="getNoGoPercent(0)">
      @if (first) {
        <div class="segment safe left" style="background-color:#f00; width:{{item}}"></div>
      }
      @if (last) {
        <div class="segment safe right" style="background-color:#f00; width:{{item}}"></div>
      }
    </ng-template>
    <!--      <ng-template [ngFor] let-item let-i=index let-last=last [ngForOf]="ringData[ringId].materialDiv">-->
    <!--        @if (!last) { <div-->
    <!--             class="thumb line-only"-->
    <!--             style="left:{{getMaterialThumbPosition(i)}}">-->
    <!--          <div class="line"></div>-->
  <!--        </div>-->
<!--      </ng-template>-->
<!--      <ng-template [ngFor] let-item let-i=index let-last=last [ngForOf]="ringData[ringId].gapDiv">-->
<!--        @if (!last) { <div-->
<!--             class="thumb line-only"-->
<!--             style="left:{{getGapThumbPosition(i)}}">-->
<!--          <div class="line"></div>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--      <ng-template [ngFor] let-item let-i=index [ngForOf]="getStoneMinMaxArray()">-->
<!--        <div class="thumb line-only"-->
<!--             style="left:{{getPossibleStoneThumbPosition(i)}}">-->
<!--          &lt;!&ndash;          <div class="line"></div>&ndash;&gt;-->
<!--        </div>-->
<!--      </ng-template>-->
<div class="thumb rowSize"
  style="left:{{getStoneThumbPosition()}};width:{{getStoneRowSize()}}">
</div>
<div class="thumb stone fixed"
  style="left:{{getStoneThumbPosition()}}">
</div>
<div class="thumb stone notFixed"
  style="left:{{getStoneThumbPosition()}}"
  (mousedown)="onThumbSelectMouse($event)"
  (touchstart)="onThumbSelectTouch($event)">
</div>
</div>
</div>
}

@if (mode !== 'material' && mode !== 'gap' && mode !== 'stonePosition') {
  MultiThumbSlider: mode not set!
}
