@import "../../default";

x-stonexy {
  display:inline-block;
  width:115px;
  //height:400px;
  padding:0;
  margin-right:10px;

  .slider-wrapper {
    position: relative;
    overflow: hidden;
    height:400px;

    .yPos {
      font-size:10px;
      position:absolute;
      right:calc(100% - 35px);
      width:30px;
      transform: translateY(-50%);
      text-align:right;
      margin-right:5px;
    }
  }

  canvas.slider-bg {
    position: relative;
    left:35px;
    background:#ccc;
    width:80px;
    height:400px;
    margin: 0;
  }
  canvas.radial-display {
    background:none;
    margin:10px 0 10px 35px;
  }
}
