@if (isMobilePanelOpen()) {
  <button type="button" class="mobile-panel-collapse" aria-label="Panel schliessen" (mousedown)="closePanel()">
    <span></span>
  </button>
}

@if (navigation.currentHash=='profil') {
  <x-config-profile></x-config-profile>
}

@if (navigation.currentHash=='masse') {
  <div class="config-wrapper" >
    <x-tab-control class="asColumns">
      <x-tab-page [title]="ringData[0].name" class="female" [enabled]="ringData[0].cartActive"
        [active]="app.state.configMode!=1" (onSelect)="app.setConfigMode(0)">
        <x-config-dimension [ringId]=0></x-config-dimension>
      </x-tab-page>
      <x-tab-page [title]="ringData[1].name" class="male" [enabled]="ringData[1].cartActive"
        [active]="app.state.configMode==1" (onSelect)="app.setConfigMode(1)">
        <x-config-dimension [ringId]=1></x-config-dimension>
      </x-tab-page>
    </x-tab-control>
  </div>
}

@if (navigation.currentHash=='material') {
  <div class="config-wrapper">
    <x-tab-control class="asColumns">
      <x-tab-page [title]="ringData[0].name" class="female" [enabled]="ringData[0].cartActive"
        [active]="app.state.configMode!=1" (onSelect)="app.setConfigMode(0)">
        <x-config-material [ringId]=0></x-config-material>
      </x-tab-page>
      <x-tab-page [title]="ringData[1].name" class="male" [enabled]="ringData[1].cartActive"
        [active]="app.state.configMode==1" (onSelect)="app.setConfigMode(1)">
        <x-config-material [ringId]=1></x-config-material>
      </x-tab-page>
    </x-tab-control>
  </div>
}

@if (navigation.currentHash=='fugen') {
  <div class="config-wrapper">
    <x-tab-control class="asColumns">
      <x-tab-page [title]="ringData[0].name" class="female" [enabled]="ringData[0].cartActive"
        [active]="app.state.configMode!=1" (onSelect)="app.setConfigMode(0)">
        <x-config-gap [ringId]=0></x-config-gap>
      </x-tab-page>
      <x-tab-page [title]="ringData[1].name" class="male" [enabled]="ringData[1].cartActive"
        [active]="app.state.configMode==1" (onSelect)="app.setConfigMode(1)">
        <x-config-gap [ringId]=1></x-config-gap>
      </x-tab-page>
    </x-tab-control>
  </div>
}

@if (navigation.currentHash=='steinbesatz') {
  <div class="config-wrapper">
    <x-tab-control>
      <x-tab-page [title]="ringData[0].name" class="female" [enabled]="ringData[0].cartActive"
        [active]="app.state.configMode!=1" (onSelect)="app.setConfigMode(0)">
        <x-config-stone [ringId]=0></x-config-stone>
      </x-tab-page>
      <x-tab-page [title]="ringData[1].name" class="male" [enabled]="ringData[1].cartActive"
        [active]="app.state.configMode==1" (onSelect)="app.setConfigMode(1)">
        <x-config-stone [ringId]=1></x-config-stone>
      </x-tab-page>
    </x-tab-control>
  </div>
}

@if (navigation.currentHash=='gravur') {
  <div class="config-wrapper">
    <x-tab-control class="asColumns">
      <x-tab-page [title]="ringData[0].name" class="female" [enabled]="ringData[0].cartActive"
        [active]="app.state.configMode!=1" (onSelect)="app.setConfigMode(0)">
        <x-config-engraving [ringId]=0></x-config-engraving>
      </x-tab-page>
      <x-tab-page [title]="ringData[1].name" class="male" [enabled]="ringData[1].cartActive"
        [active]="app.state.configMode==1" (onSelect)="app.setConfigMode(1)">
        <x-config-engraving [ringId]=1></x-config-engraving>
      </x-tab-page>
    </x-tab-control>
  </div>
}

@if (navigation.currentHash=='more') {
  <div class="config-wrapper mobile-more-panel">
    <button type="button" class="mobile-more-option" (mousedown)="changeHash('fugen')">
      <img src="{{env.assetFolderLocation}}/assets/imgui/icon-fugen-stufen.svg" alt="">
      <span>Fugen / Stufen</span>
    </button>
    <button type="button" class="mobile-more-option" (mousedown)="changeHash('gravur')">
      <img src="{{env.assetFolderLocation}}/assets/imgui/icon-gravur.svg" alt="">
      <span>Gravur</span>
    </button>
  </div>
}

@if (navigation.currentHash=='admin') {
  <div class="config-wrapper">
    <x-config-admin></x-config-admin>
  </div>
}
@if (navigation.currentHash=='diamond') {
  <div class="config-wrapper">
    <x-config-diamond></x-config-diamond>
  </div>
}
