<h6 class="title">
  Fassung
</h6>

@if (items != app.data.stoneMode) {
  <div class="close" (mousedown)="closeStoneMode()">
    <img src="{{env.assetFolderLocation}}/assets/imgui/icon-close-black.svg" alt="">
  </div>
}

<div class="mode-wrapper">
  @for (item of items; track trackByFn($index, item)) {
    <x-image-card
      [class.active]="isActive_stoneMode(item)"
      [class.disabled]="isDisabled_stoneMode(item)"
      (mousedown)="selectStoneMode(item)"
      [title]="curStoneMode != null ? curStoneMode.name : item.name"
      [image]="curStoneMode != null ? env.assetFolderLocation+'/assets/imgui/'+ curStoneMode.img : env.assetFolderLocation+'/assets/imgui/'+item.img">
    </x-image-card>
  }
</div>

@if (ringData[ringId].stone[curStoneGroup()].mode > 0 && ringData[ringId].stone[curStoneGroup()].mode != 11) {
  <div class="stone-wrapper">
    <x-dropdown class="desktop-stone-select" title="Steinart"
      [options]="stoneMaterialTypeOptions"
      [value]="selectedStoneMaterialType"
      [onValueFormat]="onValueFormat_stoneMaterialType"
      [that]="this"
    (onSelect)="onSelect_stoneMaterialType($event)"></x-dropdown>
    <x-dropdown class="desktop-stone-select" title="Schliff"
      [options]="stoneCutOptions"
      [value]="selectedStoneCut"
      [onValueFormat]="onValueFormat_stoneCut"
      [onValueHidden]="onValueHidden_stoneCut"
      [that]="this"
    (onSelect)="onSelect_stoneCut($event)"></x-dropdown>
    <div class="mobile-stone-strip">
      <h6 class="title">Steinart</h6>
      <div class="mobile-option-strip">
        @for (item of stoneMaterialTypeOptions; track item.id) {
          <div class="mobile-option-item stone-type-chip"
            [class.active]="selectedStoneMaterialType?.id === item.id"
            (mousedown)="onSelect_stoneMaterialType(item)">
            <span class="mobile-option-label">{{item.name}}</span>
          </div>
        }
      </div>
    </div>
    <div class="mobile-stone-strip">
      <h6 class="title">Schliff</h6>
      <div class="mobile-option-strip">
        @for (item of stoneCutOptions; track item.id) {
          <div class="mobile-option-item stone-type-chip"
            [class.active]="selectedStoneCut?.id === item.id"
            [class.disabled]="onValueHidden_stoneCut(this, item)"
            (mousedown)="onSelect_stoneCut(item)">
            <img class="mobile-option-icon" src="{{env.assetFolderLocation}}/assets/imgui/{{item.img}}" alt="">
            <span class="mobile-option-label">{{item.name}}</span>
          </div>
        }
      </div>
    </div>
  </div>
  <div class="stone-wrapper">
    <x-dropdown class="desktop-stone-select" title="Steingr&ouml;&szlig;e / Carat"
      [options]="stoneSizeOptions"
      [value]="selectedStoneSize"
      [onValueFormat]="onValueFormat_stoneSize"
      [onValueHidden]="onValueHidden_stoneSize"
      [that]="this"
      (onSelect)="onSelect_stoneSize($event)">
    </x-dropdown>
    <div class="mobile-stone-strip">
      <h6 class="title">Gr&ouml;&szlig;e</h6>
      <div class="mobile-option-strip">
        @for (item of stoneSizeOptions; track item.size) {
          <div class="mobile-option-item"
            [class.active]="selectedStoneSize?.size === item.size"
            [class.disabled]="onValueHidden_stoneSize(this, item)"
            (mousedown)="onSelect_stoneSize(item)">
            {{onValueFormat_stoneSize(item)}}
          </div>
        }
      </div>
    </div>
  </div>
  <h6 class="title">
    Steinfarbe und Qualität
  </h6>
  @if (stoneQualityVisible) {
    @for (item of stoneQualityOptions; track item.id) {
      <x-checkbox
        [checked]="ringData[ringId].stone[curStoneGroup()].stoneQuality==item.id"
        (onCheck)="setValue_stoneQuality(item)"
        class="quality">
        <span class="quality-label">{{getStoneQualityLabel(item)}}</span>
        @if (getStoneQualityHelp(item)) {
          <span class="quality-help">{{getStoneQualityHelp(item)}}</span>
        }
      </x-checkbox>
    }
  }
  @if (stoneColorVisible) {
    <div class="mobile-option-strip stone-color-strip">
      @for (item of stoneColorOptions; track item.id) {
        <div class="mobile-option-item stone-color-chip"
          [class.active]="ringData[ringId].stone[curStoneGroup()].stoneColor === item.id"
          (mousedown)="setValue_stoneColor(item)">
          <img class="stone-color-preview" [src]="getStoneColorPreviewSrc(item)" [alt]="getStoneColorPreviewAlt(item)" width="32" height="24">
          <span class="mobile-option-label">{{item.name}}</span>
        </div>
      }
    </div>
  }
  <div class="division-wrapper">
    @if (isVisible_distribution() && isVisible_count()) {
      <x-dropdown title="Verteilung / Abstände"
        [options]="app.data.stoneDistribution"
        [value]="getValue_stoneDistribution()"
        [onValueFormat]="onValueFormat_stoneDistribution"
        (onSelect)="onSelect_stoneDistribution($event)">
      </x-dropdown>
    }
    @if (isVisible_count()) {
      <x-dropdown
        [title]="getTitle_stoneCount()"
        [options]="stoneCount"
        [value]="getValue_stoneCount()"
        [onValueFormat]="onValueFormat_stoneCount"
        [onValueHidden]="onValueHidden_stoneCount"
        [that]="this"
        (onSelect)="onSelect_stoneCount($event)">
      </x-dropdown>
      @if (hasRows()) {
        <x-dropdown
          title="Anzahl Reihen"
          [options]="stoneRows"
          [value]="getValue_stoneRows()"
          [onValueHidden]="onValueHidden_stoneRows"
          [that]="this"
          (onSelect)="onSelect_stoneRows($event)">
        </x-dropdown>
      }
    }
  </div>
  @if (isVisible_stonePosition() && isVisible_count()) {
    <h6 class="title">
      Position
    </h6>
    <div class="position-wrapper">
      @for (item of app.data.stonePosition; track item.id) {
        <x-image-card
          (mousedown)="setValue_stonePosition(item)"
          [title]="item.name"
          [image]="env.assetFolderLocation+'/assets/imgui/'+item.img">
        </x-image-card>
      }
    </div>
    <x-multi-thumb-slider [ringId]=ringId mode="stonePosition"></x-multi-thumb-slider>
    <!--  <ng-template [ngIf]="ringData[ringId].stone[curStoneGroup()].positionId==2">-->
    <!--    <x-multi-thumb-slider [ringId]=ringId mode="stonePosition"></x-multi-thumb-slider>-->
  <!--  </ng-template>-->
}
}

@if (ringData[ringId].stone[curStoneGroup()].mode == 11) {
  <!--  <ng-template [ngIf]="app.state.debug">-->
  <div class="mode11">
    <x-stonexy #stonexy [ringId]=ringId></x-stonexy>
    <div class="flex-wrapper">
      <table class="mode11">
        <tr>
          <th class="title" style="width:40%">Größe</th>
          <th class="title" style="width:20%">X (mm)</th>
          <th class="title" style="width:20%">Y</th>
          <th class="title" style="width:20%">Löschen</th>
        </tr>
        @for (item of ringData[ringId].stone[curStoneGroup()].freeStones; track $index; let i = $index) {
          <tr [class.selected]="stonexy.lastSelectedShapeIndex == i">
            <td>{{getValue_freeStoneSize(item.size)}}</td>
            <td>{{getValue_freeStoneX(item.xDiv)}}</td>
            <td>{{getValue_freeStoneY(item.yRad)}}</td>
            <td><div class="delete" (mousedown)="delete_freeStone(i)"></div></td>
          </tr>
        }
      </table>
      <div class="stone-wrapper">
        <x-dropdown #stoneSize_mode11
          title="Steingröße / Carat"
          [options]="stoneSizeOptions"
          [value]="selectedStoneSize"
          [onValueFormat]="onValueFormat_stoneSize"
          [onValueHidden]="onValueHidden_stoneSize"
          [that]="this">
        </x-dropdown>
        <div class="mode11-plus">
          <div class="icon" (mousedown)="onClick_addFreeStone()"></div>
          <h6 class="title" (mousedown)="onClick_addFreeStone()">Stein hinzufügen</h6>
        </div>
      </div>
      <h6 class="title">
        Steinfarbe und Qualität
      </h6>
      @if (stoneQualityVisible) {
        @for (item of stoneQualityOptions; track item.id) {
          <x-checkbox
            [checked]="ringData[ringId].stone[curStoneGroup()].stoneQuality==item.id"
            (onCheck)="setValue_stoneQuality(item)"
            class="quality">
            <span class="quality-label">{{getStoneQualityLabel(item)}}</span>
            @if (getStoneQualityHelp(item)) {
              <span class="quality-help">{{getStoneQualityHelp(item)}}</span>
            }
          </x-checkbox>
        }
      }
      @if (stoneColorVisible) {
        <div class="mobile-option-strip stone-color-strip">
          @for (item of stoneColorOptions; track item.id) {
            <div class="mobile-option-item stone-color-chip"
              [class.active]="ringData[ringId].stone[curStoneGroup()].stoneColor === item.id"
              (mousedown)="setValue_stoneColor(item)">
              <img class="stone-color-preview" [src]="getStoneColorPreviewSrc(item)" [alt]="getStoneColorPreviewAlt(item)" width="32" height="24">
              <span class="mobile-option-label">{{item.name}}</span>
            </div>
          }
        </div>
      }
    </div>
  </div>
<!--  </ng-template>-->
}
