<!--<div class="debug">-->
<!--  {{appLog()}}-->
<!--</div>-->
<div class="debug">

<!--
<pre>
  RINGLOG
  {{ringLog(0, "ringData")}}
</pre>
-->
<!--<pre>-->
<!--  RINGLOG-->
<!--  {{ringLog(1)}}-->
<!--</pre>-->
</div>
<!--<div class="debug">-->
<!--  {{webglLog()}}-->
<!--</div>-->
<a href="#" id="download_texture_albedo" class="button">Download Albedo Texture</a>
<a href="#" id="download_texture_alpha" class="button">Download Alpha Texture</a>
<a href="#" id="download_texture_alpha_bevel" class="button">Download Bevel-Alpha Texture</a>
<!--<a href="#" id="download_texture_roughnessMetallic" class="button">Download RoughnessMetallic</a>-->
